<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%=title%></title>
        <link rel="stylesheet" href="/external/bootstrap-4.2.1-dist/css/bootstrap.css">
    </head>
    <body>
        <div class="container">
            <h1><%=title%></h1>
            <hr>
            <p><%=description%></p>

            <hr />
            <footer style="font-size : 10px; margin-top : 40px; text-align : center">
                &copy; NineLeaps (v<%=version%>)
            </footer>
        </div>
    </body>
</html>