<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        This is the products server.
        <br />
        Hit <a href="/auth/login-page">/auth/login-page</a> to login.
        <br />
        Hit <a href="/auth/registration-page">/auth/registration-page</a> to sign up.
        <br />
        Hit <a href="/products">/products</a> to see the product catalog.
        <br />
        Hit <a href="http://localhost:3000/products?format=json">/products?format=json</a> to get a JSON with product details.
    </body>
</html> 