<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <form method="POST" action="/login">
            Username: <input type="text" name="username" />
            Password: <input type="password" name="password" />
            <button>Login</button>
            <% if( errorLoggingIn ) { %>
                There was an error logging in
            <% } %>
        </form>
    </body>
</html>