<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <form method="POST" action="/login">
            Username: <input type="text" name="username" id="username" />
            Password: <input type="password" name="password" id="password" />
            <button id="submit-button">Login</button>
            <% if( errorLoggingIn ) { %>
                There was an error logging in
            <% } %>
        </form>

        <script>
            document.getElementById( 'submit-button' ).onclick = function( event ) {
                event.preventDefault();

                fetch( 'http://localhost:3100/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        username: document.getElementById( 'username' ).value,
                        password: document.getElementById( 'password' ).value
                    })
                }).then(function( response ) {
                    return response.json();
                }).then(function( data ) {
                    // passport is safely stored in localStorage
                    localStorage.setItem( 'username', data.username );
                    localStorage.setItem( 'token', data.token );
                });
            }
        </script>
    </body>
</html>