<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        You are logged in. You can use all the special features in this app.
<<<<<<< HEAD
=======
        <form action="/logout" method="post">
            <button id="logout-button">Logout</button>
        </form>
>>>>>>> 6c76c4e8b6c950427989b098553f1af07d93eed7
    </body>
</html>