<!DOCTYPE html>
<html>
<head>
    <title>
        My Login Page
    </title>
</head>
<body>
    <h1>Login</h1>
    <hr>
    <form action="login.js" method="POST">
        Username : <input type="text" name="uname" id="uname">
        Password : <input type="password" name="pass" id="pass">
        <button>Login</button>
    </form>

</body>
</html>